$add-bg-color: mediumaquamarine;
$add-font-color: white;

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  max-width: 90vw;
  display: inline-flex;
  flex-direction: column;
  #head {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }
  #receipt-entry {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    #merchant {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }
    #amount {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }
    #receipt-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center
    }
  }
  #receiptList {
    text-align: center;
    .receipt {
      td {
        padding: 0 1em
      }
      .time {
        width: 30%
      }
      .merchant {
        width: 30%
      }
      .amount {
        width: 10%
      }
      .tags {
        width: 30%;
        .receipt-tags {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .tag_input {
            margin: 1em 0;
            width: 60%
          }
          .tagValue {
            margin: 0.5em;
          }
          .btn-add-tag {
            width: 60%;
            background-color: $add-bg-color;
            color: $add-font-color;
            border-radius: 15px;
            padding: 5px;
            margin: 0.5em;
            font-size: 0.8em
          }
        }
      }
    }
  }
}
